html {
  scroll-behavior: smooth;
}

button:focus {
  outline: 0 !important;
}

.app-title-container {
  padding: 8px 0 0 15px;
}

/* MUI-stuff */

.MuiPickersToolbar-toolbar {
  background-color: black !important;
  color: white !important;
}

.MuiPickersDay-daySelected {
  background-color: black !important;
  color: white !important;
}

.MuiFormLabel-root.Mui-focused {
  color: black !important;
}

.MuiInput-underline:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid black !important;
  pointer-events: none;
}

.MuiFormLabel-root.Mui-error {
  color: #f44336 !important;
}

.MuiButton-textPrimary {
  color: black !important;
}

.Mui-disabled { 
  color: rgba(0, 0, 0, 0.5) !important;
}

.PrivateTabIndicator-colorSecondary-383 {
  background-color: black !important;
}

.MuiTabs-indicator {
  background-color: black !important;
}

.MuiTypography-h5 {
  font-family: 'Lobster', cursive !important;
}

.MuiTypography-h4 {
  font-family: 'Lobster', cursive !important;
  color: #FFF;}

/* .MuiTypography-body1 {
  font-family: 'Lobster', cursive !important;
  color: #3f51b5 !important;
} */

.MuiTypography-h2 {
  font-family: 'Lobster', cursive !important;
}

.menu-button .MuiSvgIcon-root{
  color: #FFF;
}

/* LOGIN */

.login-container {
  height: 100vh;
  width: 100vw;
  /* background: url("../img/login-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

/* .login-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/login-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  opacity: .8;
} */

/* .login-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .1;
  z-index: 2;
} */

.login-body {
  padding: 30px 15px 15px 15px; 
  width: 350px;
  background-color: white !important;
  z-index: 1;
  overflow: hidden;
}

.login-body-row {
  margin: 30px 0px 5px 0px;
}

.login-banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-banner {
  position: relative;
  top: 40px;
  height: 70px;
  width: 300px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-register-buttons-container {
  width: 700px;
  overflow: hidden;
  margin-left: -15px;
  display: flex;
  align-items: center;
}

.login-register-buttons-container > div {
  width: 50%;
  display: inline-block;
}

.login-hide {
  margin-left: -350px;
  transition: .3s;
}

.login-show {
  margin-left: 0px;
  transition: .3s;
}

/* CONTROLBUTTON */

.control-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 100%;
  cursor: pointer;
  opacity: .7;
}

.control-button:hover, .control-button:focus {
  opacity: 1;
}

/* .control-button-inner-1 {
  content: '';
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 40px;
  width: 40px;
  background-color: #264e74;
  cursor: pointer;
  border-radius: 100%;
} */

/* .control-button::after {
  content: '';
  position: absolute;
  top: 17.5px;
  left: 17.5px;
  display: block;
  height: 25px;
  width: 25px;
  cursor: pointer;
  border-radius: 100%;
  background-color: #2d5b87;
} */

.control-button-menu {
  display: flex;
  position: absolute;
  right: 0px;
  bottom: 30px;
  height: 0px;
  width: 60px;
  background-color: black;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  cursor: default;
  transition: .3s;
  z-index: 10000;
}

.control-button-menu-grow {
  height: 450px
}

.control-button-menu-grow > * {
  animation: toggle-animation 0s linear 0.2s forwards normal;
}

@keyframes toggle-animation {
  0% { visibility: hidden; }
  90% { visibility: hidden; }
  100% { visibility: visible; }
}

.menu-button {
  position: absolute;
  bottom: 0px;
  visibility: hidden;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: none;
  background-color: black;
}

.menu-button:nth-child(1) {
  top: 0;
}

.menu-button:nth-child(2) {
  top: 100px;
}

.menu-button:nth-child(3) {
  top: 165px;
}

.menu-button:nth-child(4) {
  top: 230px;
}

.menu-button:nth-child(5) {
  top: 295px;
}

.menu-button:nth-child(6) {
  bottom: -30px;
}

/* Transaction Detail Panel */

.update-button-container {
  height: 0px;
  width: 100%;
}

.update-button {
  position: relative;
  top: -40px;
  left: 95%;
  border: none;
  background-color: transparent;
}

/* Analytics */

.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .tables-container {
    width: calc(100vw - 32px);
  }
}